<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=750,user-scalable=no" >
    <script>
        /* Fix viewport*/
        (function (f, u) {
            var o = navigator.userAgent, r = 750, e = f.innerWidth || r, g = f.outerHeight || e, q = f.screen.width || e, d = f.screen.availWidth || e, n = f.innerHeight || r, p = f.outerHeight || n, a = f.screen.height || n, k = f.screen.availHeight || n, l = Math.min(e, g, q, d, n, p, a, k), h = l / r, b = f.devicePixelRatio;
            h = Math.min(h, b);
            if (h < 1) {
                var t = ",initial-scale=" + h + ",maximum-scale=" + h, c = u.getElementsByTagName("meta"), j;
                if (/iphone|ipod/ig.test(o)) {
                    j = ",user-scalable=no"
                }
                if (/android/ig.test(o)) {
                    j = ""
                }
                t += j || "";
                if (/zenlife-android-webview/.test(o) && !/viewport/.test(o)) {
                    document.querySelector('html').style.zoom = h
                }
                if (top.location != location) {
                    document.querySelector('html').style.zoom = h
                }
                ;
                for (var s = 0, m; s < c.length; s++) {
                    m = c[s];
                    if (m.name == "viewport") {
                        m.content += t
                    }
                }
            }
        }).call(this, window, document);
    </script>
    <link rel="stylesheet" href="${SPATH}/ui/css/common.css?version=cef1d34221d80efd"/>
    <link rel="stylesheet" href="${SPATH}/ui/css/washCar.css?version=cef1d34221d80efd"/>
	<link rel="stylesheet" href="${SPATH}/layer.mobile-v2.0/layer_mobile/need/layer.css">
    <title>工作</title>
</head>
<body class="bg-f5">
<form id="editForm" method="post" action="${CPATH}/wash/work/forwardWork">
<div class="userCenterWrap">
    <div class="Centertop">
        <div class="userInfo">
            <div class="bigCircle">
                <div class="smallCircle">
                    <img src="${washMember.img!}">
                </div>
            </div>
            <div class="userName">${washMember.nickName!}</div>
        </div>
    </div>
    <div class="shadowWrap">
        <div class="wrap">
            <div class="starfInfoEvaluWrap clearfix">
                <div class="iterm">
                    <div class="num">${highPraiseCount!0}</div>
                    <div class="titlename">好评数</div>
                </div>
                <div class="iterm">
                    <div class="num">${badPraiseCount!0}</div>
                    <div class="titlename">差评数</div>
                </div>
            </div>
            <div class="orderTypeWrap">
                <div class="itermBlock starfBlock" onclick="javascript:toTypeOrder(1);">
                    <a class="box workWrap clearfix">
                        <div class="on-left title">
                            <span class="workListTitle">昨日订单数</span>
                        </div>
                        <div class="on-right">
                            <span class="workNum">${yesterdayCount!0}</span>
                            <i class="icon-16 right-arrorw"></i>
                        </div>
                    </a>
                </div>
                <div class="itermBlock starfBlock" onclick="javascript:toTypeOrder(3);">
                    <a class="box workWrap clearfix">
                        <div class="on-left title">
                            <span class="workListTitle">近七日订单数</span>
                        </div>
                        <div class="on-right">
                            <span class="workNum">${lastWeekCount!0}</span>
                            <i class="icon-16 right-arrorw"></i>
                        </div>
                    </a>
                </div>
                <div class="itermBlock starfBlock" onclick="javascript:toTypeOrder(2);">
                    <a class="box workWrap clearfix">
                        <div class="on-left title">
                            <span class="workListTitle">今日订单</span>
                        </div>
                        <div class="on-right">
                            <span class="workNum">${nowCount!0}</span>
                            <i class="icon-16 right-arrorw"></i>
                        </div>
                    </a>
                </div>
                <#if jsonResult.rtnCode == 11>
				    <div class="itermBlock starfBlock" >
				<#elseif jsonResult.rtnCode == 10>
				    <div class="itermBlock starfBlock" onclick="javascript:toOrder();">
				<#elseif jsonResult.rtnCode == 20>
					<div class="itermBlock starfBlock" onclick="javascript:toOrder();">
				</#if> 
                    <a class="box workWrap clearfix">
                        <div class="on-left title">
                            <span class="workListTitle">排队订单</span>
                        </div>
                        <div class="on-right">
                            <span class="workNum">${waitCount!0}</span>
                            <i class="icon-16 right-arrorw"></i>
                        </div>
                    </a>
                </div>    
            </div>
        </div>
    </div>
<#if jsonResult.rtnCode == 11>
    <div class="doWork onWork" onclick="startWork()">上班</div>
<#elseif jsonResult.rtnCode == 10>
    <div class="doWork offWork" onclick="endWork()">下班</div>
<#elseif jsonResult.rtnCode == 20>
	<div class="doWork offWork" onclick="toOrder()">打开设备</div>
</#if> 
</div>
<input type="hidden" id="device_mac" name="device_mac" value="${device_mac!}">
</form>
</body>
<script type="text/javascript" src="${SPATH}/ui/js/jquery.min.js"></script>
<script src="${SPATH}/layer.mobile-v2.0/layer_mobile/layer.js"></script>
<script>
function startWork(){
			$.ajax({
	            url:"${CPATH}/wash/work/startWork",
	            data:$("#editForm").serialize(),
	            type:"post",
	            async: false,
	            //dataType: 'json',
	            success:function(data){//ajax返回的数据
	           		 
	           		 if(data.rtnCode==0){
	  	       			layer.open({
	  	       				content: data.rtnMsg,
	  	       				skin: 'msg',
	  	       				time: 2,
	  	       				end: function(){
	  	       					$("#editForm").submit();
	  	       				}
	  	       			});
	  	       	 	}else{
	  		       	 	layer.open({
	  		    			content: data.rtnMsg,
	  		    			skin: 'msg',
	  		    			time: 2
	  		    		});
	  	       	 	}
	            }
	       }); 
}

function endWork(){
	layer.open({
	    content: '确定现在下班？'
	    ,btn: ['是', '否']
	    ,yes: function(index){
	    	$.ajax({
	            url:"${CPATH}/wash/work/endWork",
	            data:$("#editForm").serialize(),
	            type:"post",
	            async: false,
	            //dataType: 'json',
	            success:function(data){//ajax返回的数据
	           		 
	           		if(data.rtnCode==0){
	  	       			layer.open({
	  	       				content: data.rtnMsg,
	  	       				skin: 'msg',
	  	       				time: 2,
	  	       				end: function(){
	  	       				window.location.href = "${CPATH}/wash/order/forwardHis";
	  	       				}
	  	       			});
	  	       	 	}else{
	  		       	 	layer.open({
	  		    			content: data.rtnMsg,
	  		    			skin: 'msg',
	  		    			time: 2
	  		    		});
	  	       	 	}
	            }
	       }); 
	    }
	  });

}

function toOrder(){
	window.location.href = "${CPATH}/wash/order/forwardWork";
}
function toOrderHis(){
	window.location.href = "${CPATH}/wash/order/forwardHis";
}

function toTypeOrder(str){
	window.location.href = "${CPATH}/wash/order/forwardTypeHis?type="+str;
}

</script>
</html>