<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=750,user-scalable=no" >
    <script>
        /* Fix viewport*/
        (function (f, u) {
            var o = navigator.userAgent, r = 750, e = f.innerWidth || r, g = f.outerHeight || e, q = f.screen.width || e, d = f.screen.availWidth || e, n = f.innerHeight || r, p = f.outerHeight || n, a = f.screen.height || n, k = f.screen.availHeight || n, l = Math.min(e, g, q, d, n, p, a, k), h = l / r, b = f.devicePixelRatio;
            h = Math.min(h, b);
            if (h < 1) {
                var t = ",initial-scale=" + h + ",maximum-scale=" + h, c = u.getElementsByTagName("meta"), j;
                if (/iphone|ipod/ig.test(o)) {
                    j = ",user-scalable=no"
                }
                if (/android/ig.test(o)) {
                    j = ""
                }
                t += j || "";
                if (/zenlife-android-webview/.test(o) && !/viewport/.test(o)) {
                    document.querySelector('html').style.zoom = h
                }
                if (top.location != location) {
                    document.querySelector('html').style.zoom = h
                }
                ;
                for (var s = 0, m; s < c.length; s++) {
                    m = c[s];
                    if (m.name == "viewport") {
                        m.content += t
                    }
                }
            }
        }).call(this, window, document);
    </script>
    <link rel="stylesheet" href="${SPATH}/ui/css/common.css"/>
    <link rel="stylesheet" href="${SPATH}/ui/css/washCar.css"/>
	<link rel="stylesheet" href="${SPATH}/layer.mobile-v2.0/layer_mobile/need/layer.css">
    <title>服务评价</title>
</head>
<body class="bg-f5">
<form id="editForm">
<div class="shadowWrap">
    <div class="wrap">
        <div class="listTitle">评价等级</div>
        <div class="itermBlock">
			<div class="box evaluate clearfix">
                <div class="on-left title">
                    <label class="theme-checkbox-radio">
                        <input type="radio" name="flag" value="0" checked="checked">
                        <span></span>
                        <span class="levelTitle">非常满意</span>
                    </label>
                </div>
            </div>
            <div class="box evaluate clearfix">
                <div class="on-left title">
                    <label class="theme-checkbox-radio">
                        <input type="radio" name="flag" value="1">
                        <span></span>
                        <span class="levelTitle">满意</span>
                    </label>
                </div>
            </div>
            <div class="box evaluate clearfix">
                <div class="on-left title">
                    <label class="theme-checkbox-radio">
                        <input type="radio" name="flag" value="2">
                        <span></span>
                        <span class="levelTitle">一般</span>
                    </label>
                </div>
            </div>
            <div class="box evaluate clearfix">
                <div class="on-left title">
                    <label class="theme-checkbox-radio">
                        <input type="radio" name="flag" value="3">
                        <span></span>
                        <span class="levelTitle">不满意</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="listTitle">服务建议</div>
        <textarea class="itermBlock suggestBox" id="evaluate" name="evaluate" placeholder="您的鼓励是我们服务的动力，说点什么吧"></textarea>
    </div>
    <div class="buttonInput submitSuggest" onclick="javascript:appraise();">提交</div>
</div>
<input type="hidden" name="orderId" id="orderId" value="${order_id!}"/>
</form>
</body>
<script type="text/javascript" src="${SPATH}/ui/js/jquery.min.js"></script>
<script src="${SPATH}/layer.mobile-v2.0/layer_mobile/layer.js"></script>
<script>

function appraise(){
	$.ajax({
        url:"${CPATH}/car/order/appraise",
        data:$("#editForm").serialize(),
        type:"post",
        async: false,
        //dataType: 'json',
        success:function(data){//ajax返回的数据
        	if(data.rtnCode==0){
       			layer.open({
       				content: data.rtnMsg,
       				skin: 'msg',
       				time: 2,
       				end: function(){
       					window.location.href = "${CPATH}/car/order/forward";
       				  }
       			});
       	 	}else{
	       	 	layer.open({
	    			content: data.rtnMsg,
	    			skin: 'msg',
	    			time: 2
	    		});
       	 	}
        }
   }); 
}
</script>
</html>