<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=750,user-scalable=no" >
    <script>
        /* Fix viewport*/
        (function (f, u) {
            var o = navigator.userAgent, r = 750, e = f.innerWidth || r, g = f.outerHeight || e, q = f.screen.width || e, d = f.screen.availWidth || e, n = f.innerHeight || r, p = f.outerHeight || n, a = f.screen.height || n, k = f.screen.availHeight || n, l = Math.min(e, g, q, d, n, p, a, k), h = l / r, b = f.devicePixelRatio;
            h = Math.min(h, b);
            if (h < 1) {
                var t = ",initial-scale=" + h + ",maximum-scale=" + h, c = u.getElementsByTagName("meta"), j;
                if (/iphone|ipod/ig.test(o)) {
                    j = ",user-scalable=no"
                }
                if (/android/ig.test(o)) {
                    j = ""
                }
                t += j || "";
                if (/zenlife-android-webview/.test(o) && !/viewport/.test(o)) {
                    document.querySelector('html').style.zoom = h
                }
                if (top.location != location) {
                    document.querySelector('html').style.zoom = h
                }
                ;
                for (var s = 0, m; s < c.length; s++) {
                    m = c[s];
                    if (m.name == "viewport") {
                        m.content += t
                    }
                }
            }
        }).call(this, window, document);
    </script>
    <link rel="stylesheet" href="${SPATH}/ui/css/common.css"/>
    <link rel="stylesheet" href="${SPATH}/ui/css/washCar.css"/>
	<link rel="stylesheet" href="${SPATH}/layer.mobile-v2.0/layer_mobile/need/layer.css">
    <title>领取优惠卷</title>
</head>
<body class="bg-f5">
<div class="getCoupon">
    <div class="wrap">
        <div class="itermBlock fillNumberWrap clearfix">
            <input type="text" id="couponNo" name="couponNo" class="on-left buttonInput fillAbbreviat numInput" placeholder="请输入优惠券号码" />
        </div>
    </div>
    <div class="buttonInput submitSuggest" onclick="javascript:update();">提交</div>
</div>
</body>
<script type="text/javascript" src="${SPATH}/ui/js/jquery.min.js"></script>
<script src="${SPATH}/layer.mobile-v2.0/layer_mobile/layer.js"></script>

<script>
function update(){
	var couponNo = $("#couponNo").val().toUpperCase();
	if(couponNo == "请输入优惠券号" || couponNo == "") {
		layer.open({
			content: '请输入优惠卷号码',
			skin: 'msg',
			time: 2
		});
	} else {
		$.ajax({
	        url:"${CPATH}/car/coupon/receiveCoupon",
	        data:{
	        	"couponNo": $("#couponNo").val()
	        },
	        type:"post",
	        async: false,
	        dataType: 'json',
	        success:function(data){//ajax返回的数据
	       		 
	       		if(data.rtnCode==0){
           			layer.open({
           				content: data.rtnMsg,
           				skin: 'msg',
           				time: 2,
           				end: function(){
           					window.location.href = "${CPATH}/car/member/forwardUserCenter";
           				  }
           			});
           	 	}else{
    	       	 	layer.open({
    	    			content: data.rtnMsg,
    	    			skin: 'msg',
    	    			time: 2
    	    		});
           	 	}
	        }
	   }); 
	}
}

</script>
</html>