<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=750,user-scalable=no" >
    <script>
        /* Fix viewport*/
        (function (f, u) {
            var o = navigator.userAgent, r = 750, e = f.innerWidth || r, g = f.outerHeight || e, q = f.screen.width || e, d = f.screen.availWidth || e, n = f.innerHeight || r, p = f.outerHeight || n, a = f.screen.height || n, k = f.screen.availHeight || n, l = Math.min(e, g, q, d, n, p, a, k), h = l / r, b = f.devicePixelRatio;
            h = Math.min(h, b);
            if (h < 1) {
                var t = ",initial-scale=" + h + ",maximum-scale=" + h, c = u.getElementsByTagName("meta"), j;
                if (/iphone|ipod/ig.test(o)) {
                    j = ",user-scalable=no"
                }
                if (/android/ig.test(o)) {
                    j = ""
                }
                t += j || "";
                if (/zenlife-android-webview/.test(o) && !/viewport/.test(o)) {
                    document.querySelector('html').style.zoom = h
                }
                if (top.location != location) {
                    document.querySelector('html').style.zoom = h
                }
                ;
                for (var s = 0, m; s < c.length; s++) {
                    m = c[s];
                    if (m.name == "viewport") {
                        m.content += t
                    }
                }
            }
        }).call(this, window, document);
    </script>
    <link rel="stylesheet" href="${SPATH}/ui/css/common.css"/>
    <link rel="stylesheet" href="${SPATH}/ui/css/washCar.css"/>
    <title>个人中心</title>
</head>
<body class="bg-f5">
<div class="userCenterWrap">
    <div class="Centertop">
        <div class="userInfo">
            <div class="bigCircle">
                <div class="smallCircle">
                    <img src="${washMember.img!}">
                </div>
            </div>
            <div class="userName">${washMember.nickName!}</div>
        </div>
    </div>
    <div class="shadowWrap">
        <div class="wrap">
            <div class="itermBlock">
                <a class="box centerBlock clearfix" onclick="javascript:forwardUserInfo();">
                    <div class="on-left title">
                        <i class="icon-16 plateNum"></i>
                        <span class="levelTitle">车牌绑定</span>
                    </div>
                    <div class="on-right"><i class="icon-16 right-arrorw"></i></div>
                </a>
                <a class="box centerBlock clearfix" onclick="javascript:forwardOrderHis();">
                    <div class="on-left title">
                        <i class="icon-16 orderLogo"></i>
                        <span class="levelTitle">我的订单</span>
                    </div>
                    <div class="on-right"><i class="icon-16 right-arrorw"></i></div>
                </a>
                <a class="box centerBlock clearfix" onclick="javascript:forwardCoupon();">
                    <div class="on-left title">
                        <i class="icon-16 coupon"></i>
                        <span class="levelTitle">领取优惠卷</span>
                    </div>
                    <div class="on-right"><i class="icon-16 right-arrorw"></i></div>
                </a>
                <a class="box centerBlock clearfix" onclick="javascript:forwardCouponList();">
                    <div class="on-left title">
                        <i class="icon-16 myCoupon"></i>
                        <span class="levelTitle">我的优惠卷</span>
                    </div>
                    <div class="on-right"><i class="icon-16 right-arrorw"></i></div>
                </a>
				<#if washMember.userType == '1'> 
                <a class="box centerBlock clearfix" onclick="javascript:forwardWashOrder();">
                    <div class="on-left title">
                        <i class="icon-16 washCarOrder"></i>
                        <span class="levelTitle">洗车订单</span>
                    </div>
                    <div class="on-right"><i class="icon-16 right-arrorw"></i></div>
                </a>
				</#if>
            </div>
        </div>
    </div>
</div>
</body>
<script>
function forwardUserInfo(){
	window.location.href = "${CPATH}/car/member/forwardUserInfo";
}
function forwardOrderHis(){
	window.location.href = "${CPATH}/car/order/forward";
}
function forwardWashOrder(){
	window.location.href = "${CPATH}/wash/order/forwardHis";
}
function forwardCoupon(){
	window.location.href = "${CPATH}/car/coupon/forward";
}
function forwardCouponList(){
	window.location.href = "${CPATH}/car/coupon/forwardList";
}
</script>
</html>